<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StaRhapsody</title>
    <link rel="stylesheet" href="static/accueil_style.css">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


</head>

<body>
    <div class="wrapper">
        <form action="/traiter_formulaire" method="post">
            <h1> Bienvenue dans StaRhapsody !</h1>
            <div class="input-box">
                <ul class="list_input">
                    <p>Choisissez une saga :</p>
                    <li><a href="S-W_page.html">Star Wars</a></li>
                    <li><a href="H-P_page.html">Harry Potter</a></li>
                    <li><a href="S-A_page.html">Le Seigneur des anneaux</a></li>
                </ul> 
            </div>

        </form>

    </div>
</body>

</html>