<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POEM GENERATOR </title>
    <link rel="stylesheet" href="style_H-P.css">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>

<body>
    <div class="wrapper">
        <form action="/traiter_formulaire" method="post">

            <h1>MOMO LA BOLOSSE</h1>
            <label for="monInput3">Sélectionner un personnage de l'univers d'Harry Potter</label>
            <div class="input-box">
                <select name="perso_2" id="perso_2">
                    <option value="desactive_2" disabled>Sélectionner </option>
                    <option value="Gryffondor" id="monInput1">Gryffondor</option>
                    <option value="Poufsouffle" id="monInput1">Poufsouffle</option>
                    <option value="Serdaigle" id="monInput1">Serdaigle</option>
                    <option value="Serpentard" id="monInput1">Serpentard</option>
                </select>
            </div>

            <div class="input-box">
                <select name="type_poeme" id="type_poeme">
                    <option value="desactive_2" disabled>Sélectionner un type de poeme </option>
                    <option value="Sonnet" id="monInput2">Sonnet</option>
                    <option value="Haiku" id="monInput2">Haiku</option>
                    <option value="Ballade" id="monInput2">Ballade</option>
                </select>
            </div>

            <button type="submit" class="btn"> Valider </button>

        </form>
    </div>
</body>

</html>